@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-zain: 'Zain', sans-serif;
  --backg: #ffffff;
  --dark: #0B0E14;

}



@theme inline {
  /* أضف اللون هنا */
  --color-backg: var(--backg);
  --color-dark: var(--dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* تعريف الخط أيضاً ليعمل كـ font-cairo */
  --font-cairo: "var(--font-cairo)", ui-sans-serif, system-ui;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo);
  
}
